table, th, td {
    padding: 1rem 0rem;
    /* margin: ; */
    border-bottom: 1.7px solid rgba(0, 0, 0, 0.164);
    border-collapse: collapse;
    text-align: center;
    
  }

table{
    /* margin: auto; */
    width: 80%
    
}